Package: com.gamehacker.sourceutility
Name: sourceutility
Version: 1.0
Depends: firmware (>= 11.0), findutils, curl, grep, rsync, gawk, zip, unzip
Architecture: iphoneos-arm
Description: The all-in-one utility for managing your already added Cydia and Sileo sources. Run sourceutility in MobileTerminal, NewTerm2, or over SSH.
Maintainer: @game_hacker080
Homepage: https://twitter.com/game_hacker080
Depiction: Depiction: http://apt.skylarmccauley.xyz/depic/com.gamehacker.sourceutility/
Author: TheHacker
Section: Utilities
